{% extends 'base.html' %}

{% block content %}
<style>
    table {
        padding: 5px;
        background-color: rgba(181, 179, 179, 0.153);
        margin: auto;
        width: 100%;
    }

    th {
        border: 1px solid black;
        padding: 5px;
        font-size: small;
    }

    td {
    padding: 0px;
    padding-left: 3px;
    border-bottom: 1px solid grey;
    font-size: 11px;
    word-wrap: break-word;      /* Legacy support for older browsers */
    overflow-wrap: break-word;  /* Modern browsers */
    max-width: 150px;           /* Adjust as needed for your layout */
}

</style>
<div class="container">









  <table>
   
      <tr>
        <th>Job ID</th>
        <th>Job Ref</th>
        <th>Executed By</th>
        <th>Approved By</th>
        <th>Execution Status</th>
        <!-- <th>Execution Remarks</th> -->
        <th>Revoke Date/Time</th>
        <th>Revoked By</th>
        <th>Actions</th>
      </tr>
    
  
      {% for entry in data %}
      <tr>
        <td><strong>{{ entry.job_id }}</strong></td>
        <td><strong>{{ entry.request_no }}</strong></td>
        <td><strong>{{ entry.executor_name }}</strong></td>
        <td><strong>{{ entry.approved_by }} </strong></td>
        <td><strong>{% if entry.execution_status == '1' %}Complete {% else %} Incomplete {% endif %}</strong></td>
        <!-- <td><strong>{{ entry.execution_remarks }}</strong></td> -->
        <td><strong>{{ entry.revoke_date_time }}</strong></td>
        <td><strong>{{ entry.revoked_by }}</strong></td>
        <td>
          <a href="{% url 'view_only' entry.request_no %}" style="text-decoration:none">Viewonly</a>
          <a href="{% url 'delete_entry' entry.job_id %}" style="text-decoration:none">Delete</a>

        </td>


      </tr>
      {% endfor %}
   
  </table>












</div>






{% endblock content %}