{% extends 'base.html' %}  
{% load static %}

  
{% block content %}  
     <h3>Access/Service Request Form</h3>
  
    <div class="row ">
     
          <div class="col-sm-10">
             <div class="container content-padding">
                 <form action="validation.html" action="authenticate" method='get' name='process'>
                     <div class="card">
                         <div class="col-sm-12 card-padding">
                             <form role="form">
                                 <div class="row">
                                     <div class="col-sm-7">
                                         <div class="input-group input-group-sm">
                                             <span class="input-group-text col-form-label-sm" id="addon-wrapping" style="width: 33%;">Request No:</span>
                                             <input type="text" class="form-control form-control-sm" placeholder="Please enter request no." aria-label="LabelRequestNo" aria-describedby="addon-wrapping">
                                         </div>
                                     </div>

                                     <div class="col-sm-5">
                                         <div class="input-group input-group-sm">
                                             <span class="input-group-text" id="addon-wrapping" style="width: 44%;">Date:</span>
                                             <input type="text" class="form-control" placeholder="Please enter date" aria-label="LabelDate" aria-describedby="addon-wrapping">
                                         </div>
                                     </div>
                                 </div>

                                 <div class="row">
                                    <div class="col-sm-7">
                                        <div class="input-group input-group-sm">
                                            <span class="input-group-text" id="addon-wrapping" style="width: 33%;">Employee Name:</span>
                                            <input type="text" class="form-control" placeholder="Please enter employee name" aria-label="LabelEmployeeName" aria-describedby="addon-wrapping">
                                        </div>
                                    </div>
                                    

                                     <div class="col-sm-5">
                                         <div class="input-group input-group-sm">
                                             <span class="input-group-text" id="addon-wrapping" style="width: 44%;">Branch Code:</span>
                                             <input type="text" class="form-control" placeholder="Please enter branch code" aria-label="LabelBranchCode" aria-describedby="addon-wrapping">
                                         </div>
                                     </div>
                                 </div>

                                 <div class="row">
                                     
                                    <div class="col-sm-7">
                                        <div class="input-group input-group-sm">
                                            <span class="input-group-text" id="addon-wrapping" style="width: 33%;">Department:</span>
                                            <input type="text" class="form-control" placeholder="Please enter department" aria-label="LabelDepartment" aria-describedby="addon-wrapping">
                                        </div>
                                    </div>
                                     <div class="col-sm-5">
                                         <div class="input-group input-group-sm">
                                             <span class="input-group-text" id="addon-wrapping" style="width: 44%;">Mobile No:</span>
                                             <input type="text" class="form-control" placeholder="Please enter mobile no." aria-label="LabelMobileNo" aria-describedby="addon-wrapping">
                                         </div>
                                     </div>
                                 </div>

                                 <div class="row">
                                    
                         

                                    <div class="col-sm-7">
                                        <div class="input-group input-group-sm">
                                            <span class="input-group-text" id="addon-wrapping" style="width: 33%;">Designation:</span>
                                            <input type="text" class="form-control" placeholder="Please enter designation" aria-label="LabelDesignation" aria-describedby="addon-wrapping">
                                        </div>
                                    </div>
                                     <div class="col-sm-5">
                                         <div class="input-group input-group-sm">
                                             <span class="input-group-text" id="addon-wrapping" style="width: 44%;">Employee ID:</span>
                                             <input type="text" class="form-control" placeholder="Please enter employee id" aria-label="LabelEmployeeID" aria-describedby="addon-wrapping">
                                             <!-- <button class="btn btn-primary" type="submit" id="article-update-button">Update</button> -->
                                         </div>
                                     </div>
                                 </div>

                                 <div class="row">
 
                                    <div class="col-sm-7">
                                        <div class="input-group input-group-sm">
                                            <span class="input-group-text" id="addon-wrapping" style="width: 33%;">Branch/Division Name:</span>
                                            <input type="text" class="form-control" placeholder="Please enter branch/ division name" aria-label="LabelBranchDivisionName" aria-describedby="addon-wrapping">
                                        </div>
                                    </div>
                                     <div class="col-sm-5">
                                         <div class="input-group input-group-sm">
                                             <span class="input-group-text" id="addon-wrapping" style="width: 44%;">PA No (if any):</span>
                                             <input type="text" class="form-control" placeholder="Please enter PA No." aria-label="LabelPANo" aria-describedby="addon-wrapping">
                                         </div>
                                     </div>
                                 </div>

                                 <div class="row">
                                     <div class="col-sm-7">
                                         <div class="input-group input-group-sm">
                                             <div class="input-group input-group-sm">
                                                 <span class="input-group-text" id="addon-wrapping" style="width: 33%;">PC IP Address:</span>
                                                 <input type="text" class="form-control" placeholder="Please enter IP Address" aria-label="LabelEmail" aria-describedby="addon-wrapping">
                                             </div>
                                         </div>
                                     </div>

                                     <div class="col-sm-5">
                                        <div class="input-group input-group-sm">
                                            <span class="input-group-text" id="addon-wrapping" style="width: 44%;">Email</span>
                                            <input type="text" class="form-control" placeholder="Please enter Email" aria-label="LabelPANo" aria-describedby="addon-wrapping">
                                        </div>
                                    </div>
                                 </div>
                             </form>
                         </div>
                     </div>
                        <br>
                     <div class="card">
                        <div class="col-sm-12 card-padding">
                            <form role="form">
                            <div class="row">

                            <div class="col-sm-4">
                                <div class="input-group input-group-sm">
                                    <span class="input-group-text col-form-label-sm" id="addon-wrapping" style="width: 100%;">Requested For:</span>

                                </div>


                            </div>

                            <div class="col-sm-8">
                                <div class="input-group input-group-sm">
                                             <input type="radio" id="self" name="self" value="self"><label>&nbsp; Self &nbsp;</label> 
                            <input type="radio" id="self" name="self" value="Selfwithservice">&nbsp; Selfwithservice &nbsp;
                            <input type="radio" id="self" name="self" value="serviceprovider">&nbsp; serviceprovider &nbsp;
                            <input type="radio" id="self" name="self" value="team">&nbsp; team &nbsp;
                            <input type="radio" id="self" name="self" value="visitor">&nbsp; visitor &nbsp;
                           
                                </div>
                   
                            </div>

                            <div class="col-sm-4">
                                <div class="input-group input-group-sm">
                                    <span class="input-group-text col-form-label-sm" id="addon-wrapping" style="width: 100%;">Date Duration:</span>

                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="input-group input-group-sm">
                                    From: &nbsp;&nbsp;<input type="date" name="from-date">
                                    To: &nbsp;&nbsp;<input type="date" name="to-date" id="to-date"> &nbsp; <input type="checkbox" name="to-date-check" id="to-date-check"> Continuous
                                </div>
                              
                            </div>
               
                            <div class="col-sm-4">
                                <div class="input-group input-group-sm">
                                    <span class="input-group-text col-form-label-sm" id="addon-wrapping" style="width: 100%;">Time Duration:</span>

                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="input-group input-group-sm">

                                    From: &nbsp; &nbsp;<input type="time" name="from-time" id="from-time">&nbsp;
                                    To: &nbsp; &nbsp;<input type="time" name="to-time" id="to-time"> &nbsp; <input type="checkbox" name="to-time-check" id="to-time-check"> Continuous
                                </div>
                                
                            </div>
                     
                            <div class="col-sm-4">
                                <div class="input-group input-group-sm">
                                    <span class="input-group-text col-form-label-sm" id="addon-wrapping" style="width: 100%;">Reason of Request:</span>

                                </div>
                            </div>

                            <div class="col-sm-8">
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" placeholder="reason of request">

                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="input-group input-group-sm">
                                    <span class="input-group-text col-form-label-sm" id="addon-wrapping" style="width: 100%;">Details of Access/Service:</span>

                                </div>
                            </div>

                            <div class="col-sm-8">
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" placeholder="Details of Access/Service">

                                </div>
                            </div>
                            </div>

                     
                            </form>

                  
                        </div>
                        


                     
                     </div>
                     <br>

                     <div class="card">
                        <div class="card-title" >
                        <span class="input-group-text col-form-label-sm justify-content-center" id="addon-wrapping" style="width: 100%;"><strong>Vendor  Engagement</strong> </span>

                        </div>
                        <div class="col-sm-12 card-padding">
                        <form role="form">

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="input-group input-group-sm">
                                        <span class="input-group-text col-form-label-sm" id="addon-wrapping" style="width: 31%;">Vendor Name</span>
                                        <input type="text" class="form-control form-control-sm" placeholder="Please enter Vendor Name" aria-label="LabelRequestNo" aria-describedby="addon-wrapping">
                                        <!-- <button class="btn btn-primary" type="submit" id="article-update-button">Update</button> -->
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="input-group input-group-sm">
                                        <span class="input-group-text col-form-label-sm" id="addon-wrapping" style="width: 31%;">Vendor Assigned Person</span>
                                        <input type="text" class="form-control form-control-sm" placeholder="Name">
                                        <input type="text" class="form-control form-control-sm" placeholder="Contact Number">
                                        <input type="text" class="form-control form-control-sm" placeholder="Name">
                                        <input type="text" class="form-control form-control-sm" placeholder="Contact Number">
                                        <!-- <button class="btn btn-primary" type="submit" id="article-update-button">Update</button> -->
                                    </div>
                                </div>
                            </div>
                        </form>
                        
                        </div>

                     </div>

              

                 </form>
             </div>
         </div>
       
  
    </div>

    <script>
    document.getElementById('to-date-check').onchange = function() {
    document.getElementById('to-date').disabled = this.checked;
    document.getElementById('from-time').disabled = this.checked;
    document.getElementById('to-time').disabled = this.checked;
    document.getElementById('to-time').disabled = this.checked;
    document.getElementById('to-time-check').disabled = this.checked;
};
    </script>
 
      
{% endblock content %}  