{% extends 'base.html' %}  
  
{% block content %}  

<style>
   /* table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 2px solid #cccbcb;
    padding: 6px;
    text-align: center;
} */

th {
    /* background-color: #026492;
    color: white; */
    font-size: 16px;
}

td {
    font-size: 12px;
}


.badge {
  /* background-color: rgb(235, 71, 71); */
  /* background-color: rgb(243, 243, 243); */
  color: rgb(236, 15, 15);
  padding: 2px 2px;
  width: 50%; 
  margin: 5px auto; 
  justify-self: center;
  border: 2px;
  border-color: black;
  
  /* border-radius: 100%; */
}
.badge:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background: url(alert-icon.svg) no-repeat center;
}

</style>

<div class="table">
    <div class="row">
        <div class="col-md-4">
            <div id="logo" class="logo-container">
                <img src="https://www.mblbd.com/style/images/mbl_logo.jpg" class="img-responsive" alt="" style="width: 50%;">            </div>
        </div>
        <div class="col-md-8">
            <div class="jumbotron" style="margin: 10px auto;">
                <h3 class="display-8">Access/Service Requests </h3>
              
                
              
              
              </div>
        </div>
        {% if messages %}
				
			{% for message in messages %}
            <div class="badge">
                <span class="border border-danger">{{ message }}</span>
                <!-- <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p> -->

            </div>
					<!-- <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p> -->
			{% endfor %}
				
		{% endif %}
        <hr class="my-3">
     </div>

     
    <table class="table table-sm">
    <thead>
        <tr>
            <th>Access/Service Name</th>
            <th>Date of Application</th>
            <th>Approved by HOB/HOD</th>
            <th>Approved by CISO</th>
            <th>Approved by CTO</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for entity in access_request %}
        <tr>
            <td>{{ entity.service_title }}</td>
            <td>{{ entity.date }}</td>
            <td>{{ entity.approved_by_HOB }}</td>
            <td>{{ entity.approved_by_CISO }}</td>
            <td>{{ entity.approved_by_CTO }}</td>
            <td><button type="button" class="btn btn-outline-success btn-sm">{{ entity.application_status }}</button></td>
            
        </tr>
        {% endfor %}
    </tbody>
</table>


</div>


{% endblock content %}  