{% extends 'base.html' %}

{% block content %}

<style>
    /* table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 2px solid #cccbcb;
    padding: 6px;
    text-align: center;
} */
    th {
        /* background-color: #026492;
    color: white; */
        font-size: small;
    }

    td {
        font-size: small;
    }

    .table {
        margin: auto;
        padding: 20px;
    }

    .table td,
    th {

        padding: 5px;
    }
    .side-bar{
        display: none;
    }
    .content-bar{
        width: 100%;
        margin-left: 0;
    }
</style>

<div class="table">

    <p>HOB/HOD View</p>

    <table class="table">
        <thead>
            <tr>

                <th>Date</th>
                <th>Form No.</th>
                <th>Name</th>
                <th>Department</th>
                <th>Designation</th>
                <th>Place of Posting</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user_request in user_requests %}
            <tr>
                <td>{{ user_request.date }}</td>
                <td>{{ user_request.form_no }}</td>
                <td>{{ user_request.employee_name }}</td>
                <td>{{ user_request.department }}</td>
                <td>{{ user_request.designation }}</td>
                <td>{{ user_request.branch_division_name }}</td>
                <td>
                    {% if user_request.approved_by_HOB == 'Yes' %}

                    <button type="button" class="btn btn-outline-primary btn-sm">Approved</button>
                    <button type="button" class="btn btn-outline-success btn-sm"><a
                            href="{% url 'view_only' user_request.request_no %}">View Only</a></button>

                    {% else %}
                    <button type="button" class="btn btn-outline-success btn-sm"><a
                            href="{% url 'view_only' user_request.request_no %}">View Only</a></button>

                    <a href="{% url 'actions' user_request.request_no %}" type="button"
                        class="btn btn-outline-success btn-sm">Accept</a>
                    <button type="button" class="btn btn-outline-danger btn-sm">Deny</button>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


</div>


{% endblock content %}