{% extends 'base.html' %}

{% block content %}

<style>
    /* table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 2px solid #cccbcb;
    padding: 6px;
    text-align: center;
} */

    th {
        /* background-color: #026492;
    color: white; */
        font-size: small;
    }

    td {
        font-size: small;
    }

    .table {
        margin: auto;
        padding: 20px;
    }
</style>

<div class="table">
    <p>CTO View</p>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Department</th>
                <th>Designation</th>
                <th>Place of Posting</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in user_requests %}
            <tr>
                <td>{{ user.employee_name }}</td>
                <td>{{ user.department }}</td>
                <td>{{ user.designation }}</td>
                <td>{{ user.branch_division_name }}</td>
                <td>
                    {% if user.approved_by_CTO == 'Yes' %}

                    <button type="button" class="btn btn-outline-primary btn-sm">Approved</button>
                    <button type="button" class="btn btn-outline-success btn-sm"><a
                            href="{% url 'view_only' user.request_no %}">View Only</a></button>

                    {% else %}
                    <button type="button" class="btn btn-outline-success btn-sm"><a
                            href="{% url 'view_only' user.request_no %}">View Only</a></button>

                    <a href="{% url 'actions' user.request_no %}" type="button"
                        class="btn btn-outline-success btn-sm">Accept</a>
                    <button  type="button" class="btn btn-outline-danger btn-sm">Deny</button>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


</div>


{% endblock content %}