{% load static %}

<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<title>Registration</title>



</head>



<body>
	<div class="registration-box">

		<h1>Registration</h1>
		<hr class="new1">
		{% if messages %}
				
			{% for message in messages %}
					<p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
			{% endfor %}
				
		{% endif %}
		<form action="{% url 'create_profile' %}" enctype="multipart/form-data" onsubmit="return validateForm()" method="post">
			{% csrf_token %}
		<div class="flex-container">

			<div>
				
		
						<div class="basic-reg" style="display: flow-root;">
						<span style="white-space: nowrap;">
							<label for="email">Domain Id</label>
							<input type="text" id="email" name="email" placeholder="Domain" required>
						</span>
						<span style="white-space: nowrap;">
							<label for="password">Password</label>
							<input type="password" id="password" name="password" placeholder="Password" required>
						</span>
							
						
						
						</div>
						<div class="basic-reg" style="display: flow-root;">
							<span style="white-space: nowrap;">
								<label for="EmployeeID">EmployeeID:</label>
								<input type="text" name="employeeId" id="employeeId" placeholder="Employee ID" value="20211228037" required>
							</span>
							
						</div>
						<button type="button" id="submitBtn">Check</button>
		
						
						
		
				
					
				
		
					<!-- <input type="email" id="email" name="email" placeholder="Domain" required>
					<input type="password" id="password" name="password" placeholder="Password" required> -->
					<!-- <input type="password" id="confirm_password" name="confirm_password" placeholder="Re-type Password" required> -->
					<br>
				  
	
			</div>

			
			<div>	
			<div class="basic-reg" id="details" name="details">
				<!-- <label for="EmployeeID">EmployeeID</label>
				<input class="custom-input" type="text" id="EmployeeID" disabled> -->
				<span style="white-space: nowrap;">
					<label for="EmployeeName">Employee Name : </label>
					<input type="text" id="EmployeeName" value="none" disabled>
				</span>
				<span style="white-space: nowrap;">
					<label for="EmployeeName">Designation : </label>

					<input type="text" id="EmpDesignation" value="none" disabled>

				</span>
				<span style="white-space: nowrap;">

					<label for="EmployeeName">Functional Designation : </label>
					<input type="text" id="EmpFunctionalDesignation" value="none" disabled>
				</span>
				<span style="white-space: nowrap;">
					<label for="EmployeeName">Place of Posting : </label>

					<input type="text" id="POP" value="none" disabled>
				</span>

			
			</div>
			</div>

		</div>

		<div class="flex-container">
			<div>
				<div class="section">
					<div class="preview-container">
						
						<div>
							<label for="signature"><strong>Upload Signature</strong></label><br><br>	
							<input type="file" id="signature" name="signature" accept="image/*" onchange="previewImage(this, 'preview1')">
						</div>
						<div>
							<img id="preview1" style="display: none; width: 100px;" src="#" alt="Image Preview"/>
						</div>
					</div>
				</div>
	
		
			
				  <!-- </div> -->
				
				<!-- <input type="submit" value="Upload"> -->
			   
		
			</div>
			<div>
				<div class="section">
	
				
					<div class="preview-container">
						<div>
							<label for="pi"><strong>Upload PI</strong></label><br><br>			
							<input type="file" id="pi" name="pi" accept="image/*" onchange="previewImage(this, 'preview2')"><br>
						</div>
						<div>
							<img id="preview2" style="display: none; width: 100px;" src="#" alt="Image Preview"/><br>
						</div>
					</div>
				</div>
			
			</div>
	

			

		</div>
		
		<div class="flex-container">
			<input type="submit" value="Sign up">
			</form>
		</div>

		<div id="gg" >
			<p id="emplyname"></p>
		</div>
		
       
          
	</div>
	

	
</body>


<script>
	function previewImage(input, previewId) {
	  if (input.files && input.files[0]) {
		var reader = new FileReader();

		reader.onload = function(e) {
		  document.getElementById(previewId).src = e.target.result;
		  document.getElementById(previewId).style.display = 'block';

		}

		reader.readAsDataURL(input.files[0]);
	  }
	}
  </script>

<script>
	function validateForm() {
	  // Get the values of the password and confirm password fields
	  var password = document.getElementById("password").value;
	  var confirm_password = document.getElementById("confirm_password").value;
	
	  // Check if the password and confirm password fields match
	  if (password != confirm_password) {
		alert("Error: Passwords do not match");
		return false;
	  }
	
	  return true;
	}
	</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function() {
    $("#submitBtn").click(function() {
      var param = $("#employeeId").val();
	  var data = { 'employeeId': param };
      $.ajax({
		url: "{% url 'fetch' %}",
        type: "POST",
		
		data: {
			"employeeId": param ,
		},
		dataType: 'json',
		userexists:function(data){
			alert('User alreay exists !')
		},
        success: function(data) {
          console.log(data);
		  if (data.result === 'userexists') {
                    alert('User already exists!');
                } else {
		  var input = document.getElementById("EmployeeName");
    		input.value = JSON.stringify(data['data']['EmployeeName']);
		  var input = document.getElementById("EmpDesignation");
    		input.value = JSON.stringify(data['data']['EmpDesignation']);
		  var input = document.getElementById("EmpFunctionalDesignation");
    		input.value = JSON.stringify(data['data']['EmpFunctionalDesignation']);
		  var input = document.getElementById("POP");
    		input.value = JSON.stringify(data['data']['POP']);

			var div = document.getElementById("details");
        		div.style.display = "block";
				}
        },
		error: function(xhr, error){
			alert(error.message);
		}
      });
    });
  });
</script>
</html>
