{% extends 'base.html' %}  
  
{% block content %}  

<div class="container" style="height: 100vh;padding: 0px;">

        <div class="row">
          <div class="col-md-12">
            {% if analyst %}
  
            <div class="row">
              <div class="col-md-12">
                <div class="shadow mb-2 bg-white rounded">
                  
                <div class="card" style="background-color: white;margin-top: 1%;padding: 1%;">
                    <h5 style="margin: 0px;"><strong>Task Management</strong></h5>   
            
                </div>
                </div>
              </div>
              <!-- <h4 style="border-left: 4px solid #1c39bb;"><strong>Task Management</strong></h4> -->
  
              <!-- <div class="col-xl-3 col-sm-6 col-12">
              <div class="card">
                <div class="card-content">
                  <div class="card-body">
                    <div class="media d-flex">
                      <div class="align-self-center">
                        <i class="icon-speech warning font-large-2 float-left"></i>
                      </div>
                      <div class="media-body text-right">
                        <h3>156</h3>
                        <span>New Comments</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->

              <!-- <p>See New Task <a href="{% url 'form_submissions' %}">Requests</a></p> -->
              <div class="col-md-12">
               
                  <div class="card-group">

                  <div class="card l-bg-base" style="width: 40%;margin: 1%;">
                  
                  <div class="card-body">
                    <h5 class="card-title">Requests <span class="badge rounded-pill bg-danger">{{count}}</span></h5>
                   
                    <h6 class="card-subtitle mb-2 text-muted">See New Service Requests</h6>
                    <div class="card-footer bg-transparent border-primary" style="text-align: center;"><a href="{% url 'form_submissions' %}" class="card-link">See Requests</a></div>
                    
                    <!-- <a href="#" class="card-link">Another link</a> -->
                  </div>
                  
                  </div>
                  
                  
                  <div class="card l-bg-base" style="width: 40%;margin: 1%;">
                  
                  <div class="card-body">
                    <h5 class="card-title">Expiring Requests <span class="badge rounded-pill bg-danger">{{count}}</span></h5>
                   
                    <h6 class="card-subtitle mb-2 text-muted">See Expiring Service Requests</h6>
                    
                    <div class="card-footer bg-transparent border-primary" style="text-align: center;"><a href="{% url 'requestaslist' %}" class="card-link">Click Here</a></div>

                    <!-- <a href="#" class="card-link">Another link</a> -->
                  </div>
                  
              </div>


                  </div>
            

              </div>
  
            </div>
            {% endif %}
  
            <div class="row">

              <div class="col-md-12">
                <div class="shadow mb-2 bg-white rounded">
                <div class="card" style="background-color: white;margin-top: 1%;padding: 1%;">
                    <h5 style="margin: 0px;"><strong>Forms</strong></h5>   
                </div>
                </div>
              </div>
  
              <div class="col-md-12">
                <div class="card-group">
                  <div class="card l-bg-base" style="width: 40%;margin: 1%;">
                    <!-- <div class="card-header bg-transparent border-primary"><strong>MBL-ISMS-FR-02</strong></div> -->
                    <div class="card-statistic-3 p-4">
                    <div class="mb-0">
                        <h5><strong>MBL-ISMS-FR-02</strong></h5>
                    </div>
                   
                    <div class="row align-items-center d-flex">
                        <div class="col-8">
                            
                            <h6 class="card-subtitle text-muted">Access/Service Request Form</h6>

                        </div>
                        <div class="col-4">
                            
                           <a href="{% url 'index' id='MBL-ISMS-FR-02' %}" class="card-link">Click to fill up form</a>

                        </div>
                       
                    </div>
                </div>
                 
                </div>

                <div class="card l-bg-base" style="width: 40%;margin: 1%;">
                  <div class="card-statistic-3 p-4">
                    <div class="mb-0">
                        <h5><strong>MBL-ISMS-FR-67</strong></h5>
                    </div>
                   
                    <div class="row align-items-center d-flex">
                        <div class="col-8">
                            
                    <h6 class="card-subtitle text-muted">Access/Service Request For Firewall</h6>

                        </div>
                        <div class="col-4">
                            
                          <a href="{% url 'index' id='MBL-ISMS-FR-67' %}" class="card-link">Click to fill up form</a>
                        </div>
                       
                    </div>
                </div>

                 
                </div>
                </div>
                

                
              </div>
                   
              </div>
           
          </div>
        
          
  
       
        </div>

     
     
</div>






{% endblock content %}  