{% extends 'base.html' %}  
  
{% block content %}  
<style>
  
</style>

<div class="flex-container" style="height: 80vh">

        

        <div class="col-md-8">
          {% if analyst %}

          <div class="row" style="padding: 20px;">
            <h4 style="border-left: 4px solid #1c39bb;"><strong>Task Management</strong></h4>

            <!-- <p>See New Task <a href="{% url 'form_submissions' %}">Requests</a></p> -->
            <div class="card" style="width: 40%; border-left: 4px solid #1c39bb ;">
                <div class="card-body">
                  <h5 class="card-title">Requests</h5>
                  <h6 class="card-subtitle mb-2 text-muted">See New Service Requests</h6>
                  <a href="{% url 'form_submissions' %}" class="card-link">Click Here</a>
                  <!-- <a href="#" class="card-link">Another link</a> -->
                </div>
              </div>
           <br>

          </div>
          {% endif %}


            <div class="row" style="padding: 20px;">
              <h4 style="border-left: 4px solid #1c39bb;"><strong>Forms</strong></h4>


                 <div class="card" style="width: 40%;border-left: 4px solid #1c39bb ;">
                <div class="card-body">
                  <h5 class="card-title" style="font-weight: bolder;">MBL-ISMS-FR-02</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Access/Service Request Form</h6>
                  <p class="card-text">For IP white listing, User Access Etc.</p>
                  <a href="{% url 'index' id='MBL-ISMS-FR-02' %}" class="card-link">Click to fill up form</a>
                </div>
              </div>

              <div class="card" style="width: 40%;border-left: 4px solid #1c39bb ;">
                <div class="card-body">
                  <h5 class="card-title" style="font-weight: bolder;">MBL-ISMS-FR-67</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Access/Service Request For Firewall</h6>
                  <p class="card-text">Network Access, IP Access Etc.</p>
                  <a href="{% url 'index' id='MBL-ISMS-FR-67' %}" class="card-link">Click to fill up form</a>
                </div>
              </div>
            </div>
         
        </div>
      
        {% if analyst %}

        <div class="col-md-4" style="border-left: 3px solid white;">
          <div class="row" style="padding: 20px;">
            <h4 style="border: 2px solid #1c39bb; text-align: center;"><strong>Access Expiring Soon</strong></h4>

            <!-- <p>See New Task <a href="{% url 'form_submissions' %}">Requests</a></p> -->
      
           <br>
           {% for event in events %}
               
           <div class="card" style="padding: 0px; border-left: 4px solid #1c39bb; border-radius: 0;margin: 4px;">
             <div class="row no-gutters">
               <!-- First card-body with width 6 (col-md-6) -->
               <div class="col-md-9">
                   <div class="card-body" style="padding: 0rem 1rem;">
                       <small class="card-title" style="padding: 2px; margin-bottom: 0;">{{ event.employee_name }} || {{ event.employee_id }}</small>
                       <br>
                       <small class="card-title" style="padding: 0px; margin-bottom: 0;">{{ event.request_no }} || {{ event.date }}</small>
                       <p style="padding: 0px; color: red; margin-bottom: 0rem;">Days Left: {{ event.days_left }}</p>
                   </div>
               </div>
       
               <!-- Second card-body with width 6 (col-md-6) -->
               <div class="col-md-3">
                   <div class="card-body" style="padding: 0rem 1rem; margin: auto;">
                     <a href="{% url 'view_only' event.request_no %}"><i class="fas fa-eye"></i> View</a> 
                     <!-- <button type="button" class="btn btn-outline-success btn-sm"><a href="{% url 'view_only' event.id %}">View Only</a></button> -->
                   </div>
               </div>
           </div>
           </div>
       {% endfor %}


       

          </div>
        </div>
 
        {% else %}

        <div class="col-md-4" style="border-left: 3px solid blue;">
          <div class="row" style="padding: 20px;">
            <h4 style="border: 2px solid black; text-align: center;"><strong>Information Notice</strong></h4>

            <!-- <p>See New Task <a href="{% url 'form_submissions' %}">Requests</a></p> -->
      
           <br>     
          </div>
        </div>


        {% endif %}

     
     
</div>






{% endblock content %}  