{% extends 'base.html' %}

{% block content %}


<style>
  .row-admin {
    display: flex;
    margin: 10px;
    border: 1px solid rgba(128, 128, 128, 0.433);
    border-radius: 10px;
    box-shadow: 5px 5px 5px #88888840;
    background-color: rgba(212, 207, 207, 0.241);

  }

  .row-admin .card {
    margin-bottom: 10px;
  }
</style>
<div class="container">

<a href="{% url 'send_email' %}">Send Mail</a>

  {% if analyst %}
  <div class="row-admin">
    <div class="col-xl-3 col-sm-6 col-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="align-self-center">
                <i class="icon-pencil primary font-large-2 float-left"></i>
              </div>
              <div class="media-body text-right">
                <h3 style="color: red;">{{count}}</h3>
                <span><a href="{% url 'form_submissions' %}">See Requests</a></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="align-self-center">
                <i class="icon-settings primary font-large-2 float-left"></i>
              </div>
              <div class="media-body text-right">
                <h3>{{count}}</h3>
                <span><a href="{% url 'requestaslist' %}">Expiring Requests</a></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  <div class="row">
    <div class="col-xl-4 col-sm-6 col-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">

              <div class="media-body">
                <p style="margin-bottom: 0px;">MBL-ISMS-FR-02</p>
                <small style="color: grey;">Access/Service Request Form</small>
                <div class="media-body">
                  <span>
                    <a class="btn btn-primary btn-sm" style="margin: 0px; border:none;"
                      href="{% url 'index' id='MBL-ISMS-FR-02' %}" class="card-link">For Self</a>
                    <a class="btn btn-primary btn-sm" style="margin: 2px;border:none;"
                      href="{% url 'other_user' form_no='MBL-ISMS-FR-02' %}" class="card-link">For a Collegue</a>
                  </span>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-sm-6 col-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">

              <div class="media-body">
                <p style="margin-bottom: 0px;">MBL-ISMS-FR-67</p>
                <small style="color: grey;">Access/Service Request For Firewall</small>
                <div class="media-body">
                  <span>
                    <a class="btn btn-primary btn-sm" style="margin: 0px; border:none;"
                      href="{% url 'index' id='MBL-ISMS-FR-67' %}" class="card-link">For Self</a>
                    <a class="btn btn-primary btn-sm" style="margin: 2px; border:none;"
                      href="{% url 'other_user' form_no='MBL-ISMS-FR-67' %}" class="card-link">For a Collegue</a>
                  </span>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>





</div>






{% endblock content %}