
{% extends 'base.html' %}  
{% load static %}

{% block content %}  
<!-- <link rel="stylesheet" href="{% static 'css/style_inside.css' %}"> -->
<style>

table {
    border-collapse: collapse;
    width: 90%;
}

th, td {
    /*border: 2px solid #cccbcb;*/
    padding: 6px;
    text-align: center;
}

th {
    /* background-color: #026492;
    color: white; */
    font-size: 16px;
}

td {
    font-size: 12px;
}


</style>


<div class="container" style="min-height: 100vh;">

    <div class="row">
        <!-- <div class="col-md-12">
            <div class="section-title">
                <div class="card" style="background-color: white;margin-top: 1%;padding: 1%;">
                    <h5 style="margin: 0px;"><strong>User List</strong></h5>   
            
                </div>
            </div>
        </div> -->
        <!-- <div class="col-md-12">
            <div class="card" style="background-color: white;margin: 1%;padding: 1%;">
        <label for="search-box">Search:</label>
        <input type="text" id="search-box" name="q">
            </div>
        </div> -->

        <div class="col-md-12">
           
            <div class="section-title">
                <div class="card" style="padding: 1%;">
                    <table id="user-table" >
                        <thead>
                          <tr>
                              <th>Username</th>
                              <!-- <th>Email</th> -->
                              <th>First Name</th>
                              <th>Last Name</th>
                              <th>Actions</th>
                              <th>Analyst</th>
                          </tr>
                      </thead>
                      <tbody>
                          {% for user in users %}
                          <tr>
                              <td>{{ user.EmployeeName }} - {{ user.EmployeeID }}</td>
                              <!-- <td>{{ user.username }}</td> -->
                              <td>{{ user.EmpFunctionalDesignation }}</td>
                              <td>{{ user.Placeofposting }}</td>
                              <td>
                                  <a href="{% url 'set_user_another_table' user.EmployeeID %}" class="btn btn-sm btn-success">Analyst</a>
                                  <a href="{% url 'set_user_another_table' user.EmployeeID %}" class="btn btn-sm btn-danger">Revoke</a>
                                  <!-- <a href="{% url 'user_update' user.EmployeeID %}" class="btn btn-primary">Update</a> -->
                                  <!-- <a href="{% url 'user_delete' user.EmployeeID %}" class="btn btn-danger">Delete</a> -->
                                  </td>
                                <td>{{ user.analyst }}</td>
                          </tr>
                          {% endfor %}
                      </tbody>
                  </table>
                </div>
            </div>
            
        </div>
    </div>
     
   
       
   
        
        
        
</div>





{% endblock content %}  



